{% extends "base.twig.html" %}

{% block title %}Deconnexion – Web4All{% endblock %}

{% block content %}
<main class="page-wrapper">

    <h1 class="title fade-in">Se déconnecter</h1>

    <p class="warning fade-in">
        Voulez-vous vraiment vous déconnecter ? 
    </p>

    <div class="actions fade-in">
       <a id="back-link" href="?page=accueil" class="btn btn-primary">Non</a>
       <form method="POST" action="/?page=logout">
            <button type="submit" class="btn btn-secondary">Oui</button>
       </form>
    </div>

</main>
{% endblock %}