{% extends "base.twig.html" %}

{% block title %}Mon compte — Web4All{% endblock %}

{% block content %}
<main class="favorites-page">
    <h1 class="title favorites-header">Mes annonces</h1>
    <a href="?page=creer-offre" class="btn btn-primary">+ Ajouter une annonce</a>

    {% if annonces is empty %}

        <p>Vous n'avez pas encore d'annonces.</p>

    {% else %}

    <ul class="favorites-grid" style="margin-top: 2rem;" role="list">
        {% for annonce in annonces %}
        <li>
            <article>

                <a href="?page=detail-annonce&id={{ annonce.id_annonce }}" class="card-link {{ annonce.type|lower }}">
                    <p class="badge {{ annonce.type|lower }}">
                        {{ annonce.type|capitalize }}
                    </p>
                    <h2 class="card-title">{{ annonce.titre }}</h2>
                    <p class="offre-detail">{{ annonce.entreprise_nom }}</p>
                    <p class="offre-detail">{{ annonce.lieu }}</p>
                    <p class="offre-detail offre-detail--duration">{{ annonce.duree }}</p>
                    <div class="card-button {{ annonce.type|lower }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </div>
                </a>
            </article>
        </li>
        {% endfor %}
    </ul>
    {{ navLinks|raw }}

    {% endif %}

</main>

{% endblock %}
