{% extends "base.twig.html" %}

{% block title %}Offre modifiée – Web4All{% endblock %}

{% block content %}
<main class="page-wrapper">


  <section aria-labelledby="success-title">

    <h1 id="success-title" class="title fade-in">Offre modifiée</h1>

    <p class="success fade-in">
      L'offre a été modifiée avec succès.
    </p>

    <div class="actions fade-in">
      <a href="?page=accueil" class="btn btn-primary">Retour à la page d'accueil</a>
    </div>

  </section>


</main>
{% endblock %}