{% extends "base.twig.html" %}

{% block title %}Suppression du compte – Web4All{% endblock %}

{% block content %}
<main class="page-wrapper">


  <section aria-labelledby="delete-title">

    <h1 id="delete-title" class="title fade-in">Suppression du compte</h1>

    <p class="warning fade-in">
      L'action sera irréversible, êtes-vous sûrs que vous souhaitez supprimer ce compte ?
    </p>

    <div class="actions fade-in">
      <a href="?page=compte" class="btn btn-primary">Non, annuler</a>
      <a href="?page=suppression-compte-2" class="btn btn-secondary">Oui, supprimer</a>
    </div>

  </section>


</main>
{% endblock %}