<nav class="navbar">
    <a href="?page=accueil" class="logo">Web4All</a>
    <div id="nav-toggle">
        <div class="bar1"></div>
        <div class="bar2"></div>
    </div>
</nav>

<div class="nav-links">
    <ul>
        <li><a href="?page=accueil">Accueil</a></li>
        <li><a href="?page=compte-etudiant">Compte</a></li>
        <li><a href="?page=favoris">Favoris</a></li>
        <li><a href="?page=annonces">Annonces</a></li>
        <li><a href="?page=aide">Aide &amp; Support</a></li>
        <li><a href="?page=langue">Langue</a></li>
    </ul>
</div>